#skip a {
    position: absolute;
    left: 10px;
    top: -92px;
    font-size: 1rem;
    padding: 10px 30px;
    color: var(--white);
    background-color: var(--black);
    z-index: 10000;
}
#skip a:focus,
#skip a:active {
    top: 10px;
}